* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #a6dbd6;
  padding: 2%;
}

.container {
  display: block;
  text-align: center;
  width: 32%;
  margin: auto;
  padding: 2%;
  text-align: center;
  background: #353432;
}

.messageinput {
  text-align: center;
  width: 100%;
  padding: 2%;
  margin-bottom: 2%;
}

.submitbtn {
  margin: 3%;
  width: 98%;
  padding: 2%;
  background-color: orangered;
}

.content {
  width: 100%;
  height: 45vh;
  display: block;
  padding: 2%;
}

.display1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 6.2vw;
  border: 3px solid black;
  margin: 2%;
  background-color: #fbf4f4;
}

.display2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6.2vw;
  border: 3px solid black;
  margin: 2%;
  background-color: rgb(251, 244, 244);
}

.display3 {
  width: 100%;
  height: 6.2vw;
  border: 3px solid black;
  margin: 2%;
  background-color: #fbf4f4;
}
